In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data_path="D:\\Projects\\price_history\\data\\"
places=["CHENNAI","DELHI","LUCKNOW","SHIMLA","MUMBAI","AHMEDABAD","KOLKATA","PATNA","GUWAHATI","PORT_BLAIR","HYDERABAD"]

#Import csv
df_CHENNAI=pd.read_csv('D:\Projects\price_history\data\prices_CHENNAI.csv')
df_DELHI=pd.read_csv('D:\Projects\price_history\data\prices_DELHI.csv')
df_LUCKNOW=pd.read_csv('D:\Projects\price_history\data\prices_LUCKNOW.csv')
df_SHIMLA=pd.read_csv('D:\Projects\price_history\data\prices_SHIMLA.csv')
df_MUMBAI=pd.read_csv('D:\Projects\price_history\data\prices_MUMBAI.csv')
df_AHMEDABAD=pd.read_csv('D:\Projects\price_history\data\prices_AHMEDABAD.csv')
df_KOLKATA=pd.read_csv('D:\Projects\price_history\data\prices_KOLKATA.csv')
df_PATNA=pd.read_csv('D:\Projects\price_history\data\prices_PATNA.csv')
df_GUWAHATI=pd.read_csv('D:\Projects\price_history\data\prices_GUWAHATI.csv')
df_PORT_BLAIR=pd.read_csv('D:\Projects\price_history\data\prices_PORT_BLAIR.csv')
df_HYDERABAD=pd.read_csv('D:\Projects\price_history\data\prices_HYDERABAD.csv')

## changing the format from object to datetime in pandas

df_CHENNAI['23'] =  pd.to_datetime(df_CHENNAI['23'], format='%d/%m/%Y')
df_DELHI['23'] =  pd.to_datetime(df_DELHI['23'], format='%d/%m/%Y')
df_LUCKNOW['23'] =  pd.to_datetime(df_LUCKNOW['23'], format='%d/%m/%Y')
df_SHIMLA['23'] =  pd.to_datetime(df_SHIMLA['23'], format='%d/%m/%Y')
df_MUMBAI['23'] =  pd.to_datetime(df_MUMBAI['23'], format='%d/%m/%Y')
df_AHMEDABAD['23'] =  pd.to_datetime(df_AHMEDABAD['23'], format='%d/%m/%Y')
df_KOLKATA['23'] =  pd.to_datetime(df_KOLKATA['23'], format='%d/%m/%Y')
df_PATNA['23'] =  pd.to_datetime(df_PATNA['23'], format='%d/%m/%Y')
df_GUWAHATI['23'] =  pd.to_datetime(df_GUWAHATI['23'], format='%d/%m/%Y')
df_PORT_BLAIR['23'] =  pd.to_datetime(df_PORT_BLAIR['23'], format='%d/%m/%Y')
df_HYDERABAD['23'] =  pd.to_datetime(df_HYDERABAD['23'], format='%d/%m/%Y')

#Missing Value imputation
df_CHENNAI[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']] = df_CHENNAI[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']].interpolate(limit_direction='both')
df_DELHI[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']] = df_DELHI[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']].interpolate(limit_direction='both')
df_LUCKNOW[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']] = df_LUCKNOW[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']].interpolate(limit_direction='both')
df_SHIMLA[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']] = df_SHIMLA[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']].interpolate(limit_direction='both')
df_MUMBAI[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']] = df_MUMBAI[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']].interpolate(limit_direction='both')
df_AHMEDABAD[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']] = df_AHMEDABAD[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']].interpolate(limit_direction='both')
df_KOLKATA[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']] = df_KOLKATA[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']].interpolate(limit_direction='both')
df_PATNA[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']] = df_PATNA[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']].interpolate(limit_direction='both')
df_GUWAHATI[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']] = df_GUWAHATI[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']].interpolate(limit_direction='both')
df_PORT_BLAIR[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']] = df_PORT_BLAIR[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']].interpolate(limit_direction='both')
df_HYDERABAD[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']] = df_HYDERABAD[['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22']].interpolate(limit_direction='both')

#merging the columns
df=pd.concat([df_CHENNAI, df_DELHI,df_LUCKNOW,df_SHIMLA,df_MUMBAI,df_AHMEDABAD,df_KOLKATA,df_PATNA,df_GUWAHATI,df_PORT_BLAIR,df_HYDERABAD])

#renaming all the columns
column_list=['City','Rice','Wheat','Atta (Wheat)','Gram Dal','Tur/Arhar Dal','Urad Dal','Moong Dal','Masoor Dal','Sugar',
            'Milk','Groundnut Oil (Packed)','Mustard Oil (Packed)','Vanaspati (Packed)','Soya Oil (Packed)','Sunflower Oil (Packed)',
            'Palm Oil (Packed)','Gur','Tea Loose','Salt Pack (Iodised)','Potato','Onion','Tomato','Date']
df.columns=column_list

In [4]:
#check: 
#df.shape[0]/11 should be a whole number

# Question 1

1. Which is more costly? Living in a tier 1 city or a hill station or a island like port blair? How much is it better than the rest of the country? (quantify it)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
# copy the data
df_scaled = df.copy()
# apply normalization technique
df_scaled.iloc[:,1:23] = MinMaxScaler().fit_transform(df_scaled.iloc[:,1:23])

d={}
l=[]
places=["CHENNAI","DELHI","LUCKNOW","SHIMLA","MUMBAI","AHMEDABAD","KOLKATA","PATNA","GUWAHATI","PORT BLAIR","HYDERABAD"]
for i in range(len(places)):
    
    d[places[i]]=df_scaled[df_scaled["City"]==places[i]].iloc[2500,1:23].sum()
    l.append([d[places[i]],places[i]])
l.sort()
for ele in l:
    print(ele)

In [ ]:
# Plotting the normalised cost change over the years
for i in range(len(places)):
    df_scaled[df_scaled["City"]==places[i]].iloc[:,1:23].sum(axis=1).plot(figsize=(20, 10))

In [ ]:
#This is renamed as scaled_data_new for Tableau

df_new=pd.DataFrame()
places=["CHENNAI","DELHI","LUCKNOW","SHIMLA","MUMBAI","AHMEDABAD","KOLKATA","PATNA","GUWAHATI","PORT BLAIR","HYDERABAD"]
# Plotting the normalised cost change over the years
for i in range(len(places)):
    df_new[places[i]]=df_scaled[df_scaled["City"]==places[i]].iloc[:,1:23].sum(axis=1)

df_new['Date']=df_CHENNAI['23']
#df_new.to_csv(data_path+'df_new.csv', index=False)

In [ ]:
# Drawing the Bar chart
year='2022'
df_test=df_new[df_new['Date'].dt.to_period('Y')==year]
l=df_test.mean().to_frame().reset_index()
l.columns=['City','Avg. Scaled Prices']s
l=l.sort_values('Avg. Scaled Prices')
l=l.reset_index(drop=True)

#percentage change
percentage_change=round(100*((l.iloc[-1,1]-l.iloc[0,1])/l.iloc[0,1]),2)
plt.bar(l['City'],l['Avg. Scaled Prices'])